:root {
  --footer-bg-color: #1e22aa;
  --footer-white-color: #fdfcff;
  --footer-max-vw: 1400px;
  --p-font-size: 14.72px;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Footer --- Footer --- Footer  --- Footer   --- Footer */
#abenson-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 32px;
  width: 100%;
  background-color: var(--footer-bg-color, #1e22aa);
  background-image: url("images/footer_img/footer_background.webp");
}

#abenson-footer h1 {
  font-weight: 600;
  line-height: 1;
}

#abenson-footer a {
  font-weight: 300;
  text-decoration: none;
}

#abenson-footer ul {
  list-style: none;
  margin-left: 0;
}

#abenson-footer p {
  font-size: var(--p-font-size);
}

#abenson-footer p {
  color: var(--footer-white-color, #fdfcff);
  line-height: clamp(16px, 3vw, 24px);
}
.footer-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-bottom,
.footer-bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bottom ul {
  display: flex;
  gap: clamp(8px, 5vw, 16px);
  text-decoration: underline;
  color: var(--footer-white-color, #fdfcff);
}

.footer-bottom p {
  padding: 16px 16px;
  text-align: center;
}

#abenson-footer a,
#abenson-footer p,
#abenson-footer label,
.footer-section-link {
  color: var(--footer-white-color, #fdfcff);
  font-size: 13px;
  font-weight: 300;
}
.footer-dropdown-toggle,
.footer-section-link {
  font-weight: 500 !important;
}

#abenson-footer a:hover {
  color: var(--currentColor, #fae100);
}
#abenson-footer h2 {
  font-size: 14.4px;
  color: var(--currentColor, #fae100);
  text-wrap: nowrap;
}

footer hr {
  border: none;
  background-color: #dfdfdf;
  opacity: 50%;
  height: 1px;
  margin: 16px auto;
  width: 100%;
}

#abenson-footer .footer-cta {
  display: flex;
  flex-direction: column;
  gap: 4.8px;
}

.footer-second-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.footer-main > div:nth-child(1) {
  order: 1;
}
.footer-main > div:nth-child(2) {
  padding: 0 5%;
  order: 3;
}
.footer-main > div:nth-child(3) {
  padding: 0 5%;
  order: 2;
}

/*  Footer first div child  -----------------1st*/
.footer-first-child > div {
  display: flex;
  flex-direction: column;
}

.footer-p-hidden {
  margin-bottom: 10px;
}

.footer-banner-img {
  width: 100%;
  height: auto;
}

.footer-banner-container {
  position: relative;
}

.footer-banner-container > div {
  display: flex;
  gap: clamp(4.8px, 2vw, 24px);
  position: absolute;
  bottom: 28%;
  right: 6%;
  color: var(--footer-white-color, #fdfcff);
}

.footer-banner-container > div > a {
  font-size: clamp(11.2px, 2vw, 12.8px);
  text-decoration: underline;
}

/*  Footer second div child  ---------------2nd*/
.footer-second-div {
  margin-top: 32px;
}
.footer-second-div hr {
  margin: 16px 0;
}
.footer-section > h2 {
  display: none;
}

/*  Footer third div child  ---------------3rd*/

.footer-third-div {
  display: flex;
  flex-direction: column;
  padding: 16px auto;
  gap: 16px;
}

.footer-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 16px 16px 0;
  max-width: 640px;
}
.footer-social-icons a:hover {
  transform: scale(1.1);
}

.footer-social-icons a:hover path {
  fill: var(--currentColor, #fae100);
}

.footer-social-icons a svg {
  width: 100%;
  height: auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  color: var(--footer-white-color, #fdfcff);
  gap: 8px;
}

.footer-contacts h3 {
  font-size: 16px;
  font-weight: 500;
}
.footer-contacts ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-contacts ul > li {
  display: flex;
  gap: 8px;
}

.footer-payment-icons {
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.footer-payment-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-payment-icons img:hover {
  transform: scale(1.15);
}

/* Dropdown footer-second-div mobile view */
.footer-dropdown-checkbox {
  display: none; /* Hide the checkbox, this is for the dropdown of footer 2nd div*/
}

.footer-dropdown-toggle,
.footer-section-link {
  display: block;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: ease-in-out 1s;
  font-weight: 500;
}

.footer-in-store-link {
  display: flex;
  justify-content: space-between;
}

/* Dropdown Content */
.footer-dropdown-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: var(--dropdown-transition);
}

.footer-dropdown-ul li {
  padding: 10px;
}

.footer-dropdown-ul li a {
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

/* Toggle Dropdown on Checkbox Check */
.footer-dropdown-checkbox:checked ~ .footer-dropdown-ul {
  max-height: 320px;
}

.footer-contacts-show {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts-toggle,
.footer-label-see-more {
  border: 1px solid var(--footer-white-color, #fdfcff);
  width: fit-content;
  padding: 1.6px 16px;
  border-radius: 32px;
}

.footer-cta p,
.footer-p-desktop,
.footer-contacts > p,
footer div:first-child > h1,
footer div:first-child > form,
.footer-h2-hidden,
.footer-payment-methods-h2,
.footer-banner-img-confetti,
.footer-banner-img-cover,
#footer-contacts-see-more,
.footer-third-last-child div hr,
.footer-contacts-hide,
.footer-contacts input,
.footer-contacts label,
.footer-in-store-link {
  display: none;
}

/* See more button in footer mobile view */
#footer-contacts-see-more:checked ~ .footer-contacts-hide {
  display: flex;
}

#footer-contacts-see-more:checked + .footer-contacts-toggle::after {
  content: "See less";
}
#footer-contacts-see-more:not(:checked) + .footer-contacts-toggle::after {
  content: "See More";
}
#footer-contacts-see-more:checked + .footer-contacts-toggle {
  order: 3;
}

.footer-third-last-child {
  display: flex;
  flex-direction: column;
  gap: 20.8px;
}

.footer-third-last-child > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (width > 600px) {
  .footer-bottom-ul {
    flex-direction: row !important;
    gap: 16px;
  }

  /* Show the hidden contact div  xbenz*/
  .footer-third-last-child {
    flex-direction: row;
    text-wrap: nowrap;
    gap: clamp(48px, 8vw, 240px);
  }

  /* Remove see more button  xbenz */
  .footer-contacts-toggle {
    display: none;
  }

  #footer-contacts-see-more:not(:checked) ~ .footer-contacts-hide {
    display: flex;
  }
}

@media screen and (width > 1024px) {
  a:link {
    text-decoration: none !important;
  }

  .footer-main {
    display: flex;
    flex-direction: row;
    padding: 32px;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
  }

  .footer-banner-container > div a {
    text-decoration: underline;
    font-size: 12.8px;
    font-weight: 400;
  }

  .footer-banner-container > div {
    bottom: -24px;
    left: 50%;
    transform: translate(-50%, 0);
    text-wrap: nowrap;
    text-decoration: none;
  }

  footer hr {
    margin: unset;
  }

  .footer-h2-hidden,
  .footer-banner-img-confetti,
  .footer-banner-img-cover,
  .footer-third-last-child div hr,
  .footer-payment-methods-h2,
  .footer-p-desktop {
    display: block;
  }

  .footer-third-last-child {
    justify-content: center;
  }

  .footer-banner-img-confetti {
    position: absolute;
    width: 110%;
    height: auto;
    top: 24px;
    animation: moveUpDown 1.2s ease-in-out infinite;
  }

  .footer-banner-img-cover {
    position: absolute;
    width: 28%;
    height: auto;
    bottom: 25%;
    left: 5%;
    transition: transform 0.3s ease;
  }

  .footer-banner-img-cover:hover {
    transform: rotate(-10deg) translate(-10px, -40px);
  }

  .footer-main > div:nth-child(1) {
    order: 1;
    padding: unset;
    width: clamp(300px, 36vw, 440px);
  }
  .footer-main > div:nth-child(2) {
    order: 2;
    padding: unset;
    display: flex;
  }
  .footer-main > div:nth-child(3) {
    order: 3;
    padding: unset;
    width: fit-content;
  }

  .footer-main div:first-child > h1,
  .footer-main div:first-child > p,
  .footer-main div:first-child > form {
    display: block;
    color: var(--footer-white-color);
  }

  .footer-main div:first-child > h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .footer-main div:first-child > p {
    font-weight: 400;
    font-size: 14px;
  }

  .footer-first-div form {
    position: relative;
  }

  .footer-first-div input {
    background-color: var(--footer-white-color, #fdfcff);
    height: 48px;
    border-radius: 32px;
    width: 100%;
  }
  .footer-second-div div,
  .footer-in-store-link {
    display: flex;
  }

  #abenson-footer .footer-in-store-hr {
    margin: 16px 0;
    font-weight: 400;
  }

  .footer-first-div input {
    border: none;
    outline: none;
    padding-left: 24px;
  }
  .footer-first-div button {
    position: absolute;
    height: 48px;
    right: 0;
    padding: 0 16px;
    background-color: var(--currentColor, #fae100);
    color: var(--footer-bg-color, #1e22aa);
  }

  .footer-banner-img {
    margin-top: 40px;
    max-width: 416px;
    width: clamp(284px, 30vw, 400px);
  }

  .footer-third-last-child,
  .footer-contacts-show {
    flex-direction: column;
  }

  .footer-dropdown-ul {
    max-height: 1600px;
  }

  .footer-h2-desktop-hidden,
  .footer-p-mobile,
  .footer-contacts h3,
  .footer-second-div hr,
  .footer-dropdown-toggle,
  .footer-section-link {
    display: none !important;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 12.8px;
  }
  .footer-section > h2 {
    display: block;
    font-size: 16px;
  }
  .footer-dropdown-ul li {
    padding: 0;
  }

  .footer-second-div {
    display: flex;
    gap: 48px;
    height: fit-content;
    margin: unset;
    width: unset;
  }
  .footer-second-div > div {
    display: flex;
    gap: clamp(16px, 3vw, 48px);
  }
  .footer-second-div h2,
  .footer-h2-hidden {
    font-weight: 600;
    font-size: 16px !important;
  }

  .footer-payment-icons {
    justify-content: start;
    width: 160px;
    margin: 0 auto;
  }

  .footer-social-icons {
    justify-content: start;
    margin: 0;
    padding: 16px 0;
    gap: clamp(16px, 2.5vw, 64px);
  }

  .footer-contacts,
  #abenson-footer a {
    gap: unset;
    font-size: 12px !important;
  }

  .footer-contacts label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .footer-contacts li img {
    width: 20px;
    height: auto;
    object-fit: contain;
  }
  .footer-contacts label img {
    width: 16px;
  }

  .footer-third-last-child,
  .footer-third-last-child > div {
    gap: 16px;
  }
  .footer-contacts-1-ul,
  .footer-contacts-2-ul,
  .footer-contacts-3-ul {
    max-height: 0;
    overflow: hidden;
  }

  /* opens dropdown one at a time */
  .footer-contacts.open .footer-contacts-1-ul,
  .footer-contacts.open .footer-contacts-2-ul,
  .footer-contacts.open .footer-contacts-3-ul {
    margin-top: 9.6px;
    max-height: 320px;
  }

  .footer-contacts.open .footer-contacts-dropdown-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg); /* Rotate the icon when the dropdown is open */
  }

  .footer-contacts-1-dropdown:checked ~ .footer-contacts-1-dropdown img {
    rotate: 180deg;
  }
  .footer-contacts-1-dropdown:checked ~ .footer-contacts-1-dropdown img {
    rotate: 180deg;
  }

  .footer-bottom div {
    max-width: var(--footer-max-vw);
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: unset;
  }

  /* See More desktop */
  #footer-see-more:checked + .footer-label-see-more::after {
    content: "See less";
  }
  #footer-see-more:not(:checked) + .footer-label-see-more::after {
    content: "See more";
  }

  #footer-see-more:not(:checked) ~ ul {
    max-height: 52.8px;
    overflow: hidden;
  }

  .footer-contacts > div:first-of-type {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-label-see-more {
    margin-top: 12.8px;
  }
}

@media screen and (min-width: 1025px) {
  .footer-contacts-dropdown-open #footer-see-more:not(:checked) ~ ul {
    max-height: 52.8px;
  }
}
